<section class="relative h-screen w-full md:overflow-hidden">
    <div class="absolute w-full flex flex-col items-center justify-center h-full gap-6 bg-black/80">
        <h1 class="text-5xl font-light text-center uppercase text-gray-200/70">We will redirect you to the Login Page in</h1>
        <span class="text-6xl text-gray-300"><span class="animate-pulse">...</span>{{countdown}}</span>
        <div class="mt-20">
            <img class="w-[15rem]" src="/assets/HorizonLogo.png" alt="logo">
        </div>
    </div>

    <div class="w-full h-full">
        <img class="w-full h-full object-cover" src="assets/cover-auth.avif" alt="cover_image" />
    </div>
</section>
