<section class="w-full h-screen overflow-hidden relative">
  <div class="w-full h-full absolute flex flex-col justify-center bg-black/70">
    <div class="flex items-center justify-between py-8 px-6 md:px-20">
      <a href="/">
        <img
          src="/assets/HorizonLogo.png"
          alt="Singularity Logo"
          class="w-60 h-auto"
        />
      </a>
      <h1 class="text-3xl font-bold text-white">
        Add New Post
      </h1>
      <button class="border px-4 py-3 rounded-full bg-transparent">Go Back</button>
    </div>
    <div class="flex w-full h-full items-center justify-center">
      <div class="flex w-5/6 h-[800px] bg-black/80 rounded-lg overflow-hidden">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="flex flex-col lg:flex-row w-full h-full"
        >
          <div class="w-1/2 h-full pt-6 px-10">
            <div class="overflow-y-auto flex flex-col gap-3 w-full h-full">
              <div>
                <label for="title" class="block text-white/80 w-full font-semibold text-xl mb-2">Title:</label>
                <input
                  formControlName="title"
                  type="text"
                  required
                  placeholder="Your Title"
                  class="bg-transparent border text-white border-gray-300 rounded-lg block w-full p-3 text-xl, focus:outline-none focus:border-gray-500"
                />
              </div>
              <div>
                <label for="shortDescription" class="block text-white/80 w-full font-semibold text-xl mb-2"
                  >Description:</label
                >
                <textarea
                  required
                  type="text"
                  rows="4"
                  id="shortDescription"
                  class="bg-transparent border text-white border-gray-300 rounded-lg block w-full p-3 focus:outline-none focus:border-gray-500"
                  formControlName="shortDescription"
                ></textarea>
              </div>
              <div class="mb-6">
                <app-dropdown
                  (categorySelected)="onCategorySelected($event)"
                ></app-dropdown>
              </div>
              <div>
                <div class="mb-6">
                  <label for="slug" class="block text-white/80 w-full font-semibold text-xl mb-2">Slug:</label>
                  <input required readonly
                    type="text"
                    id="slug"
                    class="bg-transparent border text-white border-gray-300 rounded-lg block w-full p-3 text-xl, focus:outline-none focus:border-gray-500"
                    formControlName="slug"
                  />
                </div>
              </div>
              <div>
                <label for="post-dropzone" class="block text-white/80 w-full font-semibold text-xl mb-2">Choose an image:</label>
                <app-post-image-dropzone></app-post-image-dropzone>
              </div>
              <div class="flex justify-end">
                <button
                  type="submit"
                  class="w-full bg-blue-500 text-white p-4 rounded-md hover:bg-blue-600"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="w-1/2 h-full p-5">
            <div
              class="flex flex-col h-full items-center justify-center overflow-y-auto"
            >
              <label
                for="content"
                class="block text-white/80 w-full font-semibold text-2xl mb-4"
                >Write your blog
                </label>
              <editor
                formControlName="content"
                [apiKey]="apiKey"
                [init]="{
                  selector: 'textarea',
                  plugins: 'lists link image table code help wordcount',
                  height: 700,
                  resize: false,
                  skin: 'oxide-dark',
                  content_style:
                    'body {color: #fff; background-color: #080808;  }'
                }"
                class="w-full h-full bg-transparent rounded-md"
              ></editor>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="w-full h-full">
    <img
      class="w-full h-full object-cover"
      src="assets/cover-auth.avif"
      alt="cover_image"
    />
  </div>
</section>

<!-- <section class="relative w-full flex flex-col bg-red-500">
  <app-navbar></app-navbar>
  <div
    class="my-10 w-[80rem] mx-auto p-10 bg-black/70 rounded-lg shadow-lg overflow-y-auto"
  >
    <h1 class="text-3xl font-bold mb-8 text-white text-center">Add New Post</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="dropzone">
      <div class="mb-6">
        <label for="title" class="block text-white font-medium mb-2"
          >Title</label
        >
        <input
          required
          type="text"
          id="title"
          class="w-full p-4 border border-gray-300 rounded-md text-white bg-transparent focus:border-blue-500 focus:ring-2 focus:ring-blue-500"
          formControlName="title"
        />
      </div>

      <div class="mb-6">
        <label for="shortDescription" class="block text-white font-medium mb-2"
          >Description</label
        >
        <input
          required
          type="text"
          id="shortDescription"
          class="w-full p-4 border border-gray-300 rounded-md text-white bg-transparent focus:border-blue-500 focus:ring-2 focus:ring-blue-500"
          formControlName="shortDescription"
        />
      </div>

      <div class="mb-6">
        <label for="content" class="block text-white font-medium mb-2"
          >Content</label
        >
        <editor
          formControlName="content"
          [apiKey]="apiKey"
          [init]="{ plugins: 'lists link image table code help wordcount' }"
          class="w-full h-96 bg-white rounded-md"
        ></editor>
      </div>

      <div class="mb-6">
        <label for="image-picker" class="block text-white font-medium mb-2"
          >Image</label
        >
        <input
          required
          id="image-picker"
          type="file"
          (change)="selectedFile($event)"
          class="file-upload block w-full text-sm text-gray-500 border border-gray-300 rounded-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <div class="mt-4 flex justify-center items-center">
          <img
            *ngIf="url"
            [src]="url"
            alt="Selected image"
            class="max-h-40 object-cover rounded-md shadow-md"
          />
        </div>
      </div>

      <div class="mb-6">
        <app-dropdown
          (categorySelected)="onCategorySelected($event)"
        ></app-dropdown>
      </div>

      <div
        *ngIf="err === true"
        class="mb-4 p-4 text-green-700 bg-green-100 border border-green-400 rounded"
      >
        Successfully added
      </div>
      <div
        *ngIf="err === false"
        class="mb-4 p-4 text-red-700 bg-red-100 border border-red-400 rounded"
      >
        Error adding post
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          Add
        </button>
      </div>
    </form>
  </div>
  <div class="w-full h-full">
    <img
      class="w-full h-full object-cover"
      src="assets/cover-auth.avif"
      alt="cover_image"
    />
  </div>
</section> -->
