<div class="p-4 bg-white shadow-lg rounded-lg w-full" [formGroup]="form">
  <div class="flex flex-wrap gap-4 justify-center">
    <div class="flex-1 min-w-[200px] mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-700">Sort By:</label>
      <select formControlName="sortBy" class="block w-full p-2 px-3 border rounded-full bg-gray-50">
        <option value="title">Naslov</option>
        <option value="created_at">Datum</option>
      </select>
    </div>

    <div class="flex-1 min-w-[200px] mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-700">Order Direction:</label>
      <select formControlName="sortOrder" class="block w-full p-2 px-3 border rounded-full bg-gray-50">
        <option value="asc">Rastuce</option>
        <option value="desc">Opadajuce</option>
      </select>
    </div>

    <div class="flex-1 min-w-[200px] mb-4">
      <label class="block mb-2 text-sm font-medium text-gray-700">By User ID:</label>
      <select formControlName="userId" class="block w-full p-2 px-3 border rounded-full bg-gray-50">
        @for(user of users; track user){
        <option [value]="user.id">{{ user.id }}</option>
        }
        <option [value]="0">All Users</option>
      </select>
    </div>
  </div>
</div>
