<div class="w-full h-full bg-transparent md:bg-black/60 rounded-lg text-white/70 py-3 md:py-10">
    <div class="flex justify-center pb-5">
        <img class="w-40" src="/assets/HorizonLogo.png" alt="logo">
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center w-full px-4 md:px-10 gap-2 md:gap-4">
        <div class="flex gap-3">
            <div>
                <label for="first_name" class="block mb-2 font-medium text-base md:text-lg">First Name *</label>
                <input
                  type="text"
                  formControlName="first_name"
                  id="first_name"
                  [ngClass]="{'border-red-500': registrationForm.get('first_name')?.touched && registrationForm.get('first_name')?.invalid}"
                  class="bg-transparent border border-gray-300  rounded-lg block w-full p-2.5"
                  placeholder="First name"
                  required>

            </div>
            <div>
                <label for="last_name" class="block mb-2 font-medium text-base md:text-lg">Last Name *</label>
              <input
                type="text"
                formControlName="last_name"
                id="last_name"
                [ngClass]="{'border-red-500': registrationForm.get('last_name')?.touched && registrationForm.get('last_name')?.invalid}"
                class="bg-transparent border border-gray-300  rounded-lg block w-full p-2.5"
                placeholder="Last Name"
                required>
            </div>
        </div>
        <div>
            <label for="email" class="block mb-2 font-medium text-base md:text-lg">Email *</label>
            <input
              type="email"
              formControlName="email"
              id="email"
              [ngClass]="{'border-red-500': emailError || (registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid)}"
              class="bg-transparent border border-gray-300  rounded-lg block w-full p-2.5"
              placeholder="name@example.com"
              required>
            @if(emailError) {
              <div class="text-sm text-red-600 font-medium mt-2">
                  <span>{{emailError}}</span>
              </div>
            }
        </div>
        <div>
            <label for="password" class="block mb-2 font-medium text-base md:text-lg">Password *</label>
            <input
              type="password"
              formControlName="password"
              id="password"
              [ngClass]="{'border-red-500': passwordError || (registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid)}"
              placeholder="Your Password"
              class="bg-transparent border border-gray-300  rounded-lg block w-full p-2.5 "
              required>
            @if(passwordError) {
              <div class="text-sm text-red-600 font-medium mt-2">
                <span>{{passwordError}}</span>
              </div>
            }
        </div>
        <div>
            <label for="password_confirmation" class="block mb-2 font-medium text-base md:text-lg">Confirm Password *</label>
            <input
              type="password"
              formControlName="password_confirmation"
              id="password_confirmation"
              [ngClass]="{'border-red-500': registrationForm.errors?.['mismatch'] && (registrationForm.get('password_confirmation')?.touched || registrationForm.get('password_confirmation')?.dirty)}"
              placeholder="Confirm Your Password"
              class="bg-transparent border border-gray-300  rounded-lg block w-full p-2.5 "
              required>
            @if(registrationForm.errors?.['mismatch'] && (registrationForm.get('password_confirmation')?.touched || registrationForm.get('password_confirmation')?.dirty)){
              <div class="text-sm text-red-600 font-medium mt-2">
                <span>Passwords don't match</span>
              </div>
            }
        </div>
        <div class="mt-2">
            <input type="checkbox" formControlName="agreeToTerms" id="agreeToTerms" class="mr-2" required>
            <span class="text-base">I agree to the terms and conditions</span>
        </div>
        @if(registrationForm.get('agreeToTerms')?.touched && registrationForm.get('agreeToTerms')?.invalid) {
          <div class="text-base text-red-600 font-medium">
              <span>You must agree to the terms and conditions</span>
          </div>
        }
        <button type="submit" class="relative h-12 rounded-md py-3 text-center bg-logo-green hover:bg-logo-blue transition-all text-lg mt-2 font-semibold cursor-pointer">
          @if(!loading) {
            <span>Sign Up</span>
          } @else if(loading) {
            <span class="absolute inset-0 flex items-center justify-center">
              <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 01.8-3.6l1.4 1.2A6 6 0 004 12h2z"></path>
              </svg>
            </span>
          }
        </button>

        <div class="flex flex-col md:flex-row items-center justify-between px-2 gap-3">
            <p class="text-base md:text-lg font-light">Already have an account?</p>
                <button class="flex gap-2 items-center text-base md:text-xl hover:animate-pulse" (click)="navigateToLogin()">Log In
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                      </svg>
                </button>
        </div>
    </form>
</div>
