<div class="w-full h-screen">
   <div class="flex flex-col w-full px-20 py-10 bg-black/80 shadow-lg">
    <div>
        <h1 class="text-4xl font-bold text-logo-yellow/80">User Info</h1>
        <hr class="mt-5 border-logo-yellow/70">
    </div>

    @if(isInfoLoading) {
        <div class="flex flex-col md:flex-row gap-20 items-center mt-5 md:mt-10 h-[20rem]">
            <div class="w-1/4">
                <div class="w-60 h-60 rounded-full flex items-center justify-center overflow-hidden">
                    <svg class="w-full h-full text-gray-400/80 animate-pulse" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>

            <div class="flex flex-col md:flex-row w-3/4">
                <div class="flex flex-col items-start w-1/2 justify-center gap-6">
                    <div class="h-7 w-44 rounded-full bg-gray-400/80 animate-pulse"></div>
                    <div class="h-4 w-60 rounded-full bg-gray-400/80 animate-pulse"></div>
                    <div class="h-20 w-60 rounded-xl bg-gray-400/80 animate-pulse"></div>
                </div>
                <div class="flex flex-col w-1/3 gap-6">
                    <div class="h-7 w-28 rounded-full bg-gray-400/80 animate-pulse"></div>
                    <div class="h-4 w-36 rounded-full bg-gray-400/80 animate-pulse"></div>
                    <div class="h-4 w-20 rounded-full bg-gray-400/80 animate-pulse"></div>
                </div>
                <div class=" flex items-end">
                    <div class="h-14 w-32 bg-gray-400/80 rounded-full animate-pulse"></div>
                </div>
            </div>
        </div>

    }

    @else if (!isInfoLoading) {
    <div class="flex flex-col md:flex-row gap-20 items-center mt-5 md:mt-10 h-[20rem]">
      <div class="w-1/4">
          <div class="w-60 h-60 rounded-full flex items-center justify-center overflow-hidden">
              @if(user?.profile_pic) {
                  <img class="w-full h-full object-cover" [src]="user?.profile_pic" [alt]="user?.first_name">
                }
                @else {
                    <svg class="w-full h-full" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                    </svg>
                }
            </div>
        </div>

          <div class="flex flex-col md:flex-row w-3/4">
            <div class="flex flex-col items-start w-1/2 justify-center gap-4">
                <h2 class="text-3xl text-logo-yellow font-bold">{{user?.first_name}} {{user?.last_name}}</h2>
                <p class="text-lg font-semibold text-white/70">{{user?.email}}</p>
                @if(user?.about) {
                    <div class="relative flex items-end">
                        <p class="w-2/3 text-sm font-medium overflow-hidden transition-all duration-500 ease-in-out text-white/80">{{user?.about}}</p>
                    </div>
                }
                @else {
                    <p class="text-sm font-medium text-gray-400">About Me...</p>
                }
            </div>
            <div class="flex flex-col w-1/3 gap-4">
                <h4 class="text-2xl font-bold text-logo-yellow">{{user?.user_type}}</h4>
               @if(user?.birth) {
                   <p class="font-bold text-xl text-white/60">{{user?.birth}}</p>
               }
               @else {
                <p class="font-bold text-xl text-white/60">DD/MM/YYYY</p>
               }
               @if(user?.gender) {
                   <p class="text-white/60 font-medium">{{user?.gender}}</p>
               }
               @else {
                   <p class="text-white/60 font-medium">Undefined</p>
               }

            </div>
            <div class=" flex items-end">
                <button (click)="navigateToEditProfile()" class="text-white text-center bg-logo-green hover:bg-transparent border border-logo-green hover:border-white transition duration-200 rounded-full py-3 px-4">Edit Profile</button>
            </div>
         </div>

    </div>
}
   </div>
   <div class="p-20 bg-white/90 w-full h-full">
       <app-profile-posts></app-profile-posts>
   </div>
</div>
